.main {
  padding: 60px 20px 40px 20px;

  @media (min-width: 600px) {
    padding-top: 120px;
  }
}

.mainWrapper {
  margin: 0 auto;
  display: flex;

  justify-content: center;
  flex-direction: column;

  @media (min-width: 1240px) {
    width: 1200px;
  }

  @media (min-width: 1040px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
