.main {
  padding: 120px 20px 0 20px;
}

.mainWrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1240px) {
    width: 1200px;
  }
}

.plug{
  flex-grow: 1;
}