.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0 20px;

  background-color: rgba(0, 0, 0, 0.5);
}

.window {
  position: fixed;

  max-height: 70vh;

  background-color: #2b3a62;
  border-radius: 20px;
}

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;

  &::before {
    content: '';
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    height: 1px;

    background-color: #424d75;
  }

  @media(min-width: 600px){
    padding: 20px 40px;
  }
}

.title {
 font-size: 1rem;

  @media(min-width: 600px){
    font-size: 1.2rem;
  }
}

.crossButton {
  margin-left: 40px;

  @media (min-width: 600px) {
    margin-left: 120px;
  }
}

.content {
}
