.coinSelect {
  position: relative;
  font-size: 0;
  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;

  margin-bottom: 10px;
  padding: 0 20px;

  transition: opacity 0.17s ease-in-out;

  &:hover {
    color: royalblue;

    &::after {
      background-color: royalblue;
    }
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;

    right: 0;
    top: 55%;
    background-color: white;

    transform: translateY(-50%);
    mask: url(../../images/arrow-down.svg);
    mask-position: center;
    mask-size: cover;
  }
}

.coinTitle {
  font-size: 0.9rem;
}

.label {
  font-size: 0;
}

.inputContainer {
  position: relative;
}

.input {
  width: 100%;

  font-family: inherit;
  font-size: 1rem;
  color: inherit;

  background-color: #2b3a62;
  border: none;
  border-radius: 10px;

  padding: 15px 20px;

  &::placeholder {
    color: lightgray;
  }
}

.inputPlug {
  display: block;
  opacity: 0;
  content: '';
  position: absolute;

  left: -1px;
  top: -1px;

  box-shadow: 0 0 1px 0 #424d75;
  border-radius: 10px;
  background-color: #424d75;
  transition: opacity 0.17s ease-in-out;
}

.inputLoading {
  opacity: 1;
  animation: plug-anim 10s infinite;
  transition: background-color 0.27s linear;
  top: 10px;
  right: 50%;
  bottom: 10px;
  left: 15px;
}

@keyframes plug-anim {
  from {
    background-color: #424d75;
  }
  to {
    background-color: #2b3a62;
  }
}
