.button {
  display: block;
  font-size: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;

  &:hover .icon {
    fill: royalblue;
  }

  &:focus {
    outline: none;

    & .icon{
      fill: royalblue;
    }
  }
}

.icon {
  display: block;

  mask-size: cover;
  mask-position: center;

  transition: background-color ease-in-out 0.17s;
}