.converter {
  width: 100%;
  background-color: #212b41;
  border-radius: 40px;

  @media (min-width: 1040px) {
    width: 32%;
  }
}

.header {
  position: relative;
  width: 100%;
  display: flex;

  padding: 20px 15px 20px 15px;

  align-items: center;

  @media (min-width: 400px) {
    padding: 30px 30px 30px 30px;
  }

  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #424d75;
  }

}

.title {
  font-size: 1.2rem;
  text-align: center;

  @media (min-width: 600px) {
    margin-left: 40px;
  }
}

.buttons{
  display: flex;
  margin-left: auto;
}

.refreshButton {
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 60px 15px;

  @media (min-width: 400px) {
    padding: 30px 30px 60px 30px;
  }
}

.swapButton {
  margin: 20px auto 0 auto;
}
